body {
  margin: 0;
}

#nav_bar_1 {
  margin: 0;
  padding: 0;
  width: 115px;
  height: 100%;
  overflow: auto;
}

#nav_bar_2 {
  margin-left: 115px;
  padding: 0;
  width: 125px;
  height: 100%;
  overflow: auto;
}

.nav ul {
  list-style-type: none;
  background-color: #f1f1f1;
  position: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  width: inherit; /* Inherit from containing element */
  overflow: auto; /* Allow scrollbar automatically */
}

/* Inactive page */
.nav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Active page */
.nav li a.active {
  background-color: #4CAF50;
  color: white;
}

.nav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.content {
  padding-top:10px;
  margin-left: 300px;
  margin-right: 40px;
  max-width: 1000px;
  font-size: 15pt;
}

.content h1 {
	text-align: center;
	font-size: 23pt;
}

.content ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.content ul li {
  padding-top: 5pt;
}

.sub-h1 {
  text-align: center;
  font-size: 15;
  font-style: italic;
}

.content h2 {
  text-align: center;
	font-size: 20pt;
}

.content h3 {
  text-align: center;
  font-size: 15pt;
  text-decoration: none;
  margin-bottom: 0;
}

.content p a {
    text-decoration: none;
}

.img_left {
  float: left;
  margin: 20px;
}

.img_right {
  float: right;
  margin: 20px;
}

.img_ctr {
  display: block;
  margin: 0px auto;
}

.code {
    width: 70%;
    margin: auto;
    font-family: 'Source Code Pro', monospace;
    font-size: 15pt;
}

#lgr_movie {

}
